:root {
  --primary-color: #ffde00;
  --primary-light-color: #ffe769;
  --secondary-color: #ffe4ba;
  --secondary-light-color: #fff6e8;
  --post-color: #62eea8;
  --delete-color: #ff9f9f;
  --light-color: #fffefc;
  --grey-color: #747e79;
  --dark-color: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header .mobile-open {
  display: none;
}
header .mobile-close {
  display: none;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}
.navBar {
  display: flex;
  justify-content: space-between; /* Keeps logout button on the right */
  align-items: center; /* Vertically centers all items */
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  justify-content: center; /* Centers the navigation links */
  gap: 20px; /* Adds space between the links */
  flex-grow: 1; /* Takes up remaining space so the logout button can align to the right */
  margin-right: 20px; /* Optional: gives space between the links and logout button */
}

.logout-button {
  background-color: #ec5b53; /* Button color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c74e41; /* Darker color on hover */
}

.mobile-close {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
}

a:hover {
  color: #ff9f9f;
  text-decoration: underline;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  background: url("./images/home2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 2rem;
}

.home-link {
  max-width: 250px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
  color: white;
}

.home-container p {
  line-height: 24px;
  color: white;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.rv-list-container {
  padding: 60px 24px;
}

.rv-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  gap: 34px;
  padding-block: 2rem;
}

.rv-tile {
  display: flex;
  background-color: white;

  border-radius: 5px;

  padding: 1rem;
}

.rv-tile a {
  color: #202020;
  text-decoration: none;
}

.rv-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.rv-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.rv-info {
  display: grid;
  justify-items: center;
}

.rv-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.rv-type:hover {
  color: #ffead0;
}

.rv-type:focus {
  outline: none;
}

.rv-type.selected {
  color: #ffead0;
}

.rv-type.Compact:hover,
.rv-type.Compact.selected {
  background-color: #e17654;
}

.rv-type.Standard:hover,
.rv-type.Standard.selected {
  background-color: #115e59;
}

.rv-type.Max:hover,
.rv-type.Max.selected {
  background-color: #161616;
}

.rv-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="rv-type-"] {
  padding: 7px 14px;
}

.rv-detail-container {
  padding: 80px 24px;
}

.rv-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.rv-detail-container .back-button span {
  text-decoration: underline;
}

.rv-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.rv-detail img {
  border-radius: 5px;
  margin-block: 47px;
  max-width: 500px;
}

.rv-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.rv-detail > i {
  align-self: flex-start;
}

.rv-detail .rv-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.rv-detail .rv-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.rv-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
  place-self: start;
}

/*** FOOTER ***/

.footer {
  background-color: #000;
  display: flex;
  padding-block: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.footer p {
  color: white;
  margin: 0;
}

.host-nav {
  display: flex;
  padding-block: 1rem;
  margin-bottom: 3rem;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.host-rvs-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-rvs-list {
  padding-inline: 26px;
}

.host-rvs-title {
  padding-inline: 26px;
}

.host-rvs-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-rvs-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-rvs-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-rvs-info p {
  margin-block: 10px;
}

.host-rvs-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.host-rvs-detail {
  display: flex;
  align-items: center;
}

.host-rvs-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-rvs-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-rvs-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.host-rvs-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-rvs-detail-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-rvs-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-rvs-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.host-rvs-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.host-rvs-detail-info > h4 > span {
  font-weight: 500;
}

.host-rvs-price {
  font-size: 24px;
  font-weight: 500;
}

.host-rvs-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.host-rvs-detail-image {
  height: 100px;
  border-radius: 5px;
}

.rvs-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.rvs-type.Compact.selected {
  background-color: #e17654;
  color: white;
}
.rvs-type.Standard.selected {
  background-color: #115e59;
  color: white;
}
.rvs-type.Max.selected {
  background-color: #e17654;
  color: white;
}

.rvs-type:hover {
  scale: 1.15;
}

.rvs-type:focus {
  outline: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  padding-block: 0.75rem;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  margin-block: 0.5rem;
  border-radius: 6px;
}

.login-form > input:focus {
  outline: none;
}

.form-buttons {
  display: grid;
  gap: 1rem;
}
.login-button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  padding-block: 0.75rem;
  margin-top: 22px;
  color: white;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
}
.signup-button {
  color: var(--dark-color);
  background-color: var(--light-color);
  font-size: 1.25rem;
  border-radius: 6px;
  padding-block: 0.75rem;
}
.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--dark-color);
  background-color: var(--light-color);
  font-size: 1.25rem;
  border-radius: 6px;
}

.dashboard-container {
  background-color: #f0f4f8;
  padding: 30px 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  color: #002d5b;
  margin-bottom: 20px;
  text-align: center;
}

.user-email {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.user-email span {
  color: #ec5b53;
  font-style: italic;
}

.login-prompt {
  font-size: 1rem;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

button .google-button {
  background-color: white;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: black;
  font-size: 2rem;
  box-shadow: 2px 2px black;
}

@media (max-width: 600px) {
  .navBar {
    position: absolute;
    top: 0;
    right: -1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    transition: right 0.3s ease-in-out;
    background-color: white;
    padding: 0;
    z-index: 10;
  }

  .navBar.active {
    right: 0;
  }

  header .mobile-open {
    scale: 1.5;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    color: #ff8c38;
    background-color: rgba(255, 255, 255, 0.651);
    padding: 0.5rem;
    border-radius: 100vw;
  }

  header .mobile-close {
    display: block;
    font-size: 2rem;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 5rem;
  }

  .navBar a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  .navBar a:hover {
    background-color: #f1f1f1;
  }

  .logout-button {
    background-color: #ec5b53;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
  }

  .logout-button:hover {
    background-color: #c74e41;
  }
}
